asgiref
boto3
botocore
certifi
charset-normalizer
dj-database-url
Django==4.2.20
django-cors-headers
django-filter
django-storages
djangorestframework
gunicorn
idna
jmespath
mysqlclient
packaging
psycopg2-binary
python-dateutil
python-dotenv
requests
s3transfer
six
sqlparse
tzdata
urllib3
whitenoise