asgiref==3.12.1
boto3==1.43.70
botocore==1.43.70
certifi==2026.7.22
charset-normalizer==3.5.0
dj-database-url==3.1.2
Django==4.2.20
django-cors-headers==4.9.0
django-filter==26.1
django-storages==1.14.6
djangorestframework==3.18.0
gunicorn==26.0.0
idna==3.18
jmespath==1.1.0
mysqlclient==2.2.8
packaging==26.3
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
